@{
    <html>
    <head>
        <style>
            body {
                background-image: url(https://bg.izzi.digital/DOS/69213/datastore/15/publication/69213/pictures/2021/02/09/1612864336_KoricaM3U1.jpg?v=1700033690);
                text-align: center;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

            h1 {
                color: dark;
                text-align: center;
            }

            a {
                text-decoration: none;
                display: inline-block;
                padding: 8px 16px;
            }

                a:hover {
                    background-color: #ddd;
                    color: black;
                }

            .previous {
                background-color: #f1f1f1;
                color: black;
            }

            .next {
                background-color: #04AA6D;
                color: white;
            }

            .round {
                border-radius: 50%;
            }

            .column {
                float: left;
                width: 50%;
                padding: 10px;
            }

            .row:after {
                content: "";
                display: flex;
                clear: both;
                height: 100vh;
            }
        </style>
        <title>Current Time and Day</title>
        <script>function displayTimeInCity(city) {
                var time;
                var func;
                if (city === 'Canberra') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Port_Moresby" });
                        document.getElementById("canberra-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Suva') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Fiji" });
                        document.getElementById("suva-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Tarawa') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Fiji" });
                        document.getElementById("tarawa-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Majuro') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Fiji" });
                        document.getElementById("majuro-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Palikir') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Guadalcanal" });
                        document.getElementById("palikir-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Yaren') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Fiji" });
                        document.getElementById("yaren-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Wellington') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Port_Moresby" });
                        document.getElementById("wellington-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Koror') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Palau" });
                        document.getElementById("koror-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Port Moresby') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Port_Moresby" });
                        document.getElementById("port moresby-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Apia') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Apia" });
                        document.getElementById("apia-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Honiara') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Guadalcanal" });
                        document.getElementById("honiara-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Nukualofa') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Tongatapu" });
                        document.getElementById("nukualofa-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Funafuti') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Fiji" });
                        document.getElementById("funafuti-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Port Vila') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Pacific/Guadalcanal" });
                        document.getElementById("port vila-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                }
            }</script>
    </head>
    <body onload="displayTime()">
        <h1 style="color: green">Australia and Oceania</h1>
        <button onclick="displayTimeInCity('Apia')" style="color: green">Apia</button>
        <button onclick="displayTimeInCity('Canberra')" style="color: green">Canberra</button>
        <button onclick="displayTimeInCity('Funafuti')" style="color: green">Funafuti</button>
        <button onclick="displayTimeInCity('Honiara')" style="color: green">Honiara</button>
        <button onclick="displayTimeInCity('Koror')" style="color: green">Koror</button>
        <button onclick="displayTimeInCity('Majuro')" style="color: green">Majuro</button>
        <button onclick="displayTimeInCity('Nukualofa')" style="color: green">Nukualofa</button>
        <button onclick="displayTimeInCity('Palikir')" style="color: green">Palikir</button>
        <button onclick="displayTimeInCity('Port Moresby')" style="color: green">Port Moresby</button>
        <button onclick="displayTimeInCity('Port Vila')" style="color: green">Port Vila</button>
        <button onclick="displayTimeInCity('Suva')" style="color: green">Suva</button>
        <button onclick="displayTimeInCity('Tarawa')" style="color: green">Tarawa</button>
        <button onclick="displayTimeInCity('Wellington')" style="color: green">Wellington</button>
        <button onclick="displayTimeInCity('Yaren')" style="color: green">Yaren</button>
        <div class="row">
            <div class="column">
                <div class="leftside">
                    <p style="color: darkgoldenrod">The current time in Apia is: <span id="apia-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Canberra is: <span id="canberra-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Funafuti is: <span id="funafuti-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Honiara is: <span id="honiara-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Koror is: <span id="koror-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Majuro is: <span id="majuro-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Nukualofa is: <span id="nukualofa-time"></span></p>
                </div>
            </div>
            <div class="column">
                <div class="rightside">
                    <p style="color: darkgoldenrod">The current time in Palikir is: <span id="palikir-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Port Moresby is: <span id="port moresby-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Port Vila is: <span id="port vila-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Suva is: <span id="suva-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Tarawa is: <span id="tarawa-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Wellington is: <span id="wellington-time"></span></p>
                    <p style="color: darkgoldenrod">The current time in Yaren is: <span id="yaren-time"></span></p>
                </div>
            </div>
        </div>
    </body>
</html>
}


