@{
    <html>
    <head>
        <style>
            body {
                background-image: url(https://bg.izzi.digital/DOS/69213/datastore/15/publication/69213/pictures/2021/02/09/1612864336_KoricaM3U1.jpg?v=1700033690);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: auto;
                text-align: center;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

            h1 {
                color: dark;
                text-align: center;
            }

            a {
                text-decoration: none;
                display: inline-block;
                padding: 8px 16px;
            }

                a:hover {
                    background-color: #ddd;
                    color: black;
                }

            .previous {
                background-color: #f1f1f1;
                color: black;
            }

            .next {
                background-color: #04AA6D;
                color: white;
            }

            .round {
                border-radius: 50%;
            }

            .column {
                float: left;
                width: 50%;
                padding: 10px;
            }

            .row:after {
                content: "";
                display: flex;
                clear: both;
                height: 100vh;
            }
        </style>
        <title>Current Time and Day</title>
        <script>function displayTimeInCity(city) {
                var time;
                var func;
                if (city === 'Amsterdam') {
                    func = function () {
                        time = new Date().toLocaleString("cz-NL", { timeZone: "Europe/Amsterdam" });
                        document.getElementById("amsterdam-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Andorra la Vella') {
                    func = function () {
                        time = new Date().toLocaleString("cz-NL", { timeZone: "Europe/Amsterdam" });
                        document.getElementById("andorra-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Athens') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Athens" });
                        document.getElementById("athens-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Belgrade') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Belgrade" });
                        document.getElementById("belgrade-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Berlin') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Berlin" });
                        document.getElementById("berlin-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Bern') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Berlin" });
                        document.getElementById("bern-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Bratislava') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Bratislava" });
                        document.getElementById("bratislava-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Brussels') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Brussels" });
                        document.getElementById("brussels-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Bucharest') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Bucharest" });
                        document.getElementById("bucharest-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Chisinau') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Chisinau" });
                        document.getElementById("chisinau-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Copenhagen') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Copenhagen" });
                        document.getElementById("copenhagen-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Dublin') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Dublin" });
                        document.getElementById("dublin-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Helsinki') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Helsinki" });
                        document.getElementById("helsinki-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Kiev') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Kiev" });
                        document.getElementById("kiev-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Lisbon') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Lisbon" });
                        document.getElementById("lisbon-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Ljubljana') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Ljubljana" });
                        document.getElementById("ljubljana-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'London') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/London" });
                        document.getElementById("london-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Luxembourg') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Luxembourg" });
                        document.getElementById("luxembourg-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Madrid') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Madrid" });
                        document.getElementById("madrid-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Minsk') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Minsk" });
                        document.getElementById("minsk-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Monaco') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Monaco" });
                        document.getElementById("monaco-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Moscow') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Moscow" });
                        document.getElementById("moscow-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Nicosia') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Nicosia" });
                        document.getElementById("nicosia-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Oslo') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Oslo" });
                        document.getElementById("oslo-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Paris') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Paris" });
                        document.getElementById("paris-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Podgorica') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Podgorica" });
                        document.getElementById("podgorica-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Prague') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Prague" });
                        document.getElementById("prague-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Reykjavik') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Africa/Accra" });
                        document.getElementById("reykjavik-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Riga') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Sofia" });
                        document.getElementById("riga-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Rome') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "Europe/Rome" });
                        document.getElementById("rome-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'San Marino') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Amsterdam" });
                        document.getElementById("san marino-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Sarajevo') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Sarajevo" });
                        document.getElementById("sarajevo-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Skopje') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Skopje" });
                        document.getElementById("skopje-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Sofia') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Sofia" });
                        document.getElementById("sofia-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Stockholm') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Stockholm" });
                        document.getElementById("stockholm-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Tallinn') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Tallinn" });
                        document.getElementById("tallinn-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Tirana') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Amsterdam" });
                        document.getElementById("tirana-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Vaduz') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Vaduz" });
                        document.getElementById("vaduz-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Valletta') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Amsterdam" });
                        document.getElementById("valletta-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Vatican City') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Amsterdam" });
                        document.getElementById("vatican city-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Vienna') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Vienna" });
                        document.getElementById("vienna-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Vilnius') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Vilnius" });
                        document.getElementById("vilnius-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Warsaw') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Warsaw" });
                        document.getElementById("warsaw-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Zagreb') {
                    func = function () {
                        time = new Date().toLocaleString("en-GB", { timeZone: "Europe/Zagreb" });
                        document.getElementById("zagreb-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                }
            }</script>
    </head>
    <body onload="displayTime()">
        <h1 style="color:blue">Europe</h1>
        <button onclick="displayTimeInCity('Amsterdam')" style="color:blue">Amsterdam</button>
        <button onclick="displayTimeInCity('Andorra la Vella')" style="color:blue">Andorra la Vella</button>
        <button onclick="displayTimeInCity('Athens')" style="color:blue">Athens</button>
        <button onclick="displayTimeInCity('Belgrade')" style="color:blue">Belgrade</button>
        <button onclick="displayTimeInCity('Berlin')" style="color:blue">Berlin</button>
        <button onclick="displayTimeInCity('Bern')" style="color:blue">Bern</button>
        <button onclick="displayTimeInCity('Bratislava')" style="color:blue">Bratislava</button>
        <button onclick="displayTimeInCity('Brussels')" style="color:blue">Brussels</button>
        <button onclick="displayTimeInCity('Bucharest')" style="color:blue">Bucharest</button>
        <button onclick="displayTimeInCity('Chisinau')" style="color:blue">Chisinau</button>
        <button onclick="displayTimeInCity('Copenhagen')" style="color:blue">Copenhagen</button>
        <button onclick="displayTimeInCity('Dublin')" style="color:blue">Dublin</button>
        <button onclick="displayTimeInCity('Helsinki')" style="color:blue">Helsinki</button>
        <button onclick="displayTimeInCity('Kiev')" style="color:blue">Kiev</button>
        <button onclick="displayTimeInCity('Lisbon')" style="color:blue">Lisbon</button>
        <button onclick="displayTimeInCity('Ljubljana')" style="color:blue">Ljubljana</button>
        <button onclick="displayTimeInCity('London')" style="color:blue">London</button>
        <button onclick="displayTimeInCity('Luxembourg')" style="color:blue">Luxembourg</button>
        <button onclick="displayTimeInCity('Madrid')" style="color:blue">Madrid</button>
        <button onclick="displayTimeInCity('Minsk')" style="color:blue">Minsk</button>
        <button onclick="displayTimeInCity('Monaco')" style="color:blue">Monaco</button>
        <button onclick="displayTimeInCity('Moscow')" style="color:blue">Moscow</button>
        <button onclick="displayTimeInCity('Nicosia')" style="color:blue">Nicosia</button>
        <button onclick="displayTimeInCity('Oslo')" style="color:blue">Oslo</button>
        <button onclick="displayTimeInCity('Paris')" style="color:blue">Paris</button>
        <button onclick="displayTimeInCity('Podgorica')" style="color:blue">Podgorica</button>
        <button onclick="displayTimeInCity('Prague')" style="color:blue">Prague</button>
        <button onclick="displayTimeInCity('Reykjavik')" style="color:blue">Reykjavik</button>
        <button onclick="displayTimeInCity('Riga')" style="color:blue">Riga</button>
        <button onclick="displayTimeInCity('Rome')" style="color:blue">Rome</button>
        <button onclick="displayTimeInCity('San Marino')" style="color:blue">San Marino</button>
        <button onclick="displayTimeInCity('Sarajevo')" style="color:blue">Sarajevo</button>
        <button onclick="displayTimeInCity('Skopje')" style="color:blue">Skopje</button>
        <button onclick="displayTimeInCity('Sofia')" style="color:blue">Sofia</button>
        <button onclick="displayTimeInCity('Stockholm')" style="color:blue">Stockholm</button>
        <button onclick="displayTimeInCity('Tallinn')" style="color:blue">Tallinn</button>
        <button onclick="displayTimeInCity('Tirana')" style="color:blue">Tirana</button>
        <button onclick="displayTimeInCity('Vaduz')" style="color:blue">Vaduz</button>
        <button onclick="displayTimeInCity('Valletta')" style="color:blue">Valletta</button>
        <button onclick="displayTimeInCity('Vatican City')" style="color:blue">Vatican City</button>
        <button onclick="displayTimeInCity('Vienna')" style="color:blue">Vienna</button>
        <button onclick="displayTimeInCity('Vilnius')" style="color:blue">Vilnius</button>
        <button onclick="displayTimeInCity('Warsaw')" style="color:blue">Warsaw</button>
        <button onclick="displayTimeInCity('Zagreb')" style="color:blue">Zagreb</button>
        <div class="row">
            <div class="column">
                <div class="leftside">
                    <p style="color: red">The current time in Amsterdam is: <span id="amsterdam-time"></span></p>
                    <p style="color: red">The current time in Andorra la Vella is: <span id="andorra-time"></span></p>
                    <p style="color: red">The current time in Athens is: <span id="athens-time"></span></p>
                    <p style="color: red">The current time in Belgrade is: <span id="belgrade-time"></span></p>
                    <p style="color: red">The current time in Berlin is: <span id="berlin-time"></span></p>
                    <p style="color: red">The current time in Bern is: <span id="bern-time"></span></p>
                    <p style="color: red">The current time in Bratislava is: <span id="bratislava-time"></span></p>
                    <p style="color: red">The current time in Brussels is: <span id="brussels-time"></span></p>
                    <p style="color: red">The current time in Bucharest is: <span id="bucharest-time"></span></p>
                    <p style="color: red">The current time in Chisinau is: <span id="chisinau-time"></span></p>
                    <p style="color: red">The current time in Copenhagen is: <span id="copenhagen-time"></span></p>
                    <p style="color: red">The current time in Dublin is: <span id="dublin-time"></span></p>
                    <p style="color: red">The current time in Helsinki is: <span id="helsinki-time"></span></p>
                    <p style="color: red">The current time in Kiev is: <span id="kiev-time"></span></p>
                    <p style="color: red">The current time in Lisbon is: <span id="lisbon-time"></span></p>
                    <p style="color: red">The current time in Ljubljana is: <span id="ljubljana-time"></span></p>
                    <p style="color: red">The current time in London is: <span id="london-time"></span></p>
                    <p style="color: red">The current time in Luxembourg is: <span id="luxembourg-time"></span></p>
                    <p style="color: red">The current time in Madrid is: <span id="madrid-time"></span></p>
                    <p style="color: red">The current time in Minsk is: <span id="minsk-time"></span></p>
                    <p style="color: red">The current time in Monaco is: <span id="monaco-time"></span></p>
                    <p style="color: red">The current time in Moscow is: <span id="moscow-time"></span></p>
                </div>
            </div>
            <div class="column">
                <div class="rightside">
                    <p style="color: red">The current time in Nicosia is: <span id="nicosia-time"></span></p>
                    <p style="color: red">The current time in Oslo is: <span id="oslo-time"></span></p>
                    <p style="color: red">The current time in Paris is: <span id="paris-time"></span></p>
                    <p style="color: red">The current time in Podgorica is: <span id="podgorica-time"></span></p>
                    <p style="color: red">The current time in Prague is: <span id="prague-time"></span></p>
                    <p style="color: red">The current time in Reykjavik is: <span id="reykjavik-time"></span></p>
                    <p style="color: red">The current time in Riga is: <span id="riga-time"></span></p>
                    <p style="color: red">The current time in Rome is: <span id="rome-time"></span></p>
                    <p style="color: red">The current time in San Marino is: <span id="san marino-time"></span></p>
                    <p style="color: red">The current time in Sarajevo is: <span id="sarajevo-time"></span></p>
                    <p style="color: red">The current time in Skopje is: <span id="skopje-time"></span></p>
                    <p style="color: red">The current time in Sofia is: <span id="sofia-time"></span></p>
                    <p style="color: red">The current time in Stockholm is: <span id="stockholm-time"></span></p>
                    <p style="color: red">The current time in Tallinn is: <span id="tallinn-time"></span></p>
                    <p style="color: red">The current time in Tirana is: <span id="tirana-time"></span></p>
                    <p style="color: red">The current time in Vaduz is: <span id="vaduz-time"></span></p>
                    <p style="color: red">The current time in Valletta is: <span id="valletta-time"></span></p>
                    <p style="color: red">The current time in Vatican City is: <span id="vatican city-time"></span></p>
                    <p style="color: red">The current time in Vienna is: <span id="vienna-time"></span></p>
                    <p style="color: red">The current time in Vilnius is: <span id="vilnius-time"></span></p>
                    <p style="color: red">The current time in Warsaw is: <span id="warsaw-time"></span></p>
                    <p style="color: red">The current time in Zagreb is: <span id="zagreb-time"></span></p>
                </div>
            </div>
        </div>
    </body>
</html>
}

