<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <style>
        body {
            background-image: url(https://bg.izzi.digital/DOS/69213/datastore/15/publication/69213/pictures/2021/02/09/1612864336_KoricaM3U1.jpg?v=1700033690);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            text-align: right;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .search {
            --padding: 14px;
            width: max-content;
            display: flex;
            align-items: center;
            padding: var(--padding);
            border-radius: 28px;
            background: #f6f6f6;
            width: 600px;
            transition: box-shadow 0.25s;
        }

        .card {
            width: 90%;
            max-width: 470px;
            background: linear-gradient(180deg, #11feba, #5b548a);
            color: #fff;
            margin: 100px auto 0;
            border-radius: 20px;
            padding: 40px 35px;
            text-align: center;
            float: left;
            top: -220px;
        }

        .search {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .weather-icon {
            width: 170px;
            margin-top: 30px;
        }

        .weather h1 {
            font-size: 80px;
            font-weight: 500;
        }

        .weather h2 {
            font-size: 45px;
            font-weight: 400;
            margin-top: -10px;
        }

        .details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 0px;
            margin-top: 50px;
        }

        .col {
            display: flex;
            align-items: center;
            text-align: left;
        }

            .col img {
                width: 40px;
                margin-right: 10px;
            }

        .humidity, .wind {
            font-size: 20px;
            margin-top: -6px;
            font-family: unset;
        }

        .container {
            display: grid;
        }
    </style>
    <title>Current Time and Day</title>
    <script>function displayTime() {
            var date = new Date();
            var time = date.toLocaleTimeString();
            var day = date.toLocaleDateString();
            document.getElementById("time").innerHTML = time;
            document.getElementById("day").innerHTML = day;
        }
        setInterval(displayTime, 1000);</script>
</head>
<body onload="displayTime()">
    <h1 style="color:firebrick">Current Time and Day</h1>
    <p style="font-size:x-large">
        The current Time is: <span id="time"></span>
        <style>
            p {
                font-family: fantasy;
                color: darkgreen;
            }
        </style>
    </p>
    <p style="font-size:x-large">Today is: <span id="day"></span></p>
    <div class="card">
        <div class="search">
            <input type="text" placeholder="enter city name" spellcheck="false" />
            <button>Search</button>
        </div>
        <div class="weather">
            <img src="https://cdn-icons-png.flaticon.com/512/1779/1779940.png" style="width:100px" class="weather-icon" />
            <h1 class="temp"></h1>
            <h2 class="city"></h2>
            <div class="details">
                <div class="col">
                    <img src="https://static-00.iconduck.com/assets.00/humidity-icon-512x419-5m7ztixz.png" style="width:100px" />
                    <div>
                        <p style="color:white" class="humidity"></p>
                        <p style="color: white; font-family: unset;">Humidity</p>
                    </div>
                </div>
                <div class="col">
                    <img src="https://cdn-icons-png.flaticon.com/512/54/54298.png" style="width:100px" />
                    <div>
                        <p style="color:white" class="wind"></p>
                        <p style="color: white; font-family: unset;">Wind Speed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const apiKey = "aba8f6d52378654a851857c80f6a41d4";
        const apiUrl = "https://api.openweathermap.org/data/2.5/weather?units=metric&q=";

        const searchBox = document.querySelector(".search input");
        const searchBtn = document.querySelector(".search button");
        async function checkWeather(city) {
            const response = await fetch(apiUrl + city + '&appid=${apiKey}');
            var data = await response.json();

            console.log(data);

            document.querySelector(".city").innerHTML = data.name;
            document.querySelector(".temp").innerHTML = Math.round(data.main.temp) + "°C";
            document.querySelector(".humidity").innerHTML = data.main.humidity + "%";
            document.querySelector(".wind").innerHTML = data.wind.speed + " km/h";
        }

        searchBtn.addEventListener("click", () => {
            checkWeather(searchBox.value);
   </script>
</body>
</html>


