@{
    <html>
    <head>
        <style>
            body {
                background-image: url(https://bg.izzi.digital/DOS/69213/datastore/15/publication/69213/pictures/2021/02/09/1612864336_KoricaM3U1.jpg?v=1700033690);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: auto;
                text-align: center;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

            h1 {
                color: dark;
                text-align: center;
            }

            a {
                text-decoration: none;
                display: inline-block;
                padding: 8px 16px;
            }

                a:hover {
                    background-color: #ddd;
                    color: black;
                }

            .previous {
                background-color: #f1f1f1;
                color: black;
            }

            .next {
                background-color: #04AA6D;
                color: white;
            }

            .round {
                border-radius: 50%;
            }

            .column {
                float: left;
                width: 50%;
                padding: 10px;
            }

            .row:after {
                content: "";
                display: flex;
                clear: both;
                height: 100vh;
            }
        </style>
        <title>Current Time and Day</title>
        <script>function displayTimeInCity(city) {
                var time;
                if (city === 'Saint Johns') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Barbados" });
                        document.getElementById("saint johns-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Nassau') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Nassau" });
                        document.getElementById("nassau-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Bridgetown') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Barbados" });
                        document.getElementById("bridgetown-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Belmopan') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Belize" });
                        document.getElementById("belmopan-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Ottawa') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Barbados" });
                        document.getElementById("ottawa-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'San Jose') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Costa_Rica" });
                        document.getElementById("san jose-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Havana') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Havana" });
                        document.getElementById("havana-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Roseau') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Barbados" });
                        document.getElementById("roseau-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Santo Domingo') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Santo_Domingo" });
                        document.getElementById("santo domingo-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'San Salvador') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/El_Salvador" });
                        document.getElementById("san salvador-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Saint Georges') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Barbados" });
                        document.getElementById("saint georges-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Guatemala City') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Guatemala" });
                        document.getElementById("guatemala city-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Port-au-Prince') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Port-au-Prince" });
                        document.getElementById("port-au-prince-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Tegucigalpa') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Tegucigalpa" });
                        document.getElementById("tegucigalpa-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Kingston') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Jamaica" });
                        document.getElementById("kingston-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Mexico City') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Mexico_City" });
                        document.getElementById("mexico city-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Managua') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Managua" });
                        document.getElementById("managua-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Panama City') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Panama" });
                        document.getElementById("panama city-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Basseterre') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Barbados" });
                        document.getElementById("basseterre-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Castries') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Barbados" });
                        document.getElementById("castries-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Kingstown') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Barbados" });
                        document.getElementById("kingstown-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Port of Spain') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/Port_of_Spain" });
                        document.getElementById("port of spain-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                } else if (city === 'Washington') {
                    func = function () {
                        time = new Date().toLocaleString("cz-GR", { timeZone: "America/New_York" });
                        document.getElementById("washington-time").innerHTML = time;
                    }
                    setInterval(func, 1000);
                }
            }</script>
    </head>
    <body onload="displayTime()">
        <h1 style="color: purple">North America</h1>
        <button onclick="displayTimeInCity('Basseterre')" style="color: purple">Basseterre</button>
        <button onclick="displayTimeInCity('Belmopan')" style="color: purple">Belmopan</button>
        <button onclick="displayTimeInCity('Bridgetown')" style="color: purple">Bridgetown</button>
        <button onclick="displayTimeInCity('Castries')" style="color: purple">Castries</button>
        <button onclick="displayTimeInCity('Guatemala City')" style="color: purple">Guatemala City</button>
        <button onclick="displayTimeInCity('Havana')" style="color: purple">Havana</button>
        <button onclick="displayTimeInCity('Kingston')" style="color: purple">Kingston</button>
        <button onclick="displayTimeInCity('Kingstown')" style="color: purple">Kingstown</button>
        <button onclick="displayTimeInCity('Managua')" style="color: purple">Managua</button>
        <button onclick="displayTimeInCity('Mexico City')" style="color: purple">Mexico City</button>
        <button onclick="displayTimeInCity('Nassau')" style="color: purple">Nassau</button>
        <button onclick="displayTimeInCity('Ottawa')" style="color: purple">Ottawa</button>
        <button onclick="displayTimeInCity('Panama City')" style="color: purple">Panama City</button>
        <button onclick="displayTimeInCity('Port-au-Prince')" style="color: purple">Port-au-Prince</button>
        <button onclick="displayTimeInCity('Port of Spain')" style="color: purple">Port of Spain</button>
        <button onclick="displayTimeInCity('Roseau')" style="color: purple">Roseau</button>
        <button onclick="displayTimeInCity('Saint Georges')" style="color: purple">Saint Georges</button>
        <button onclick="displayTimeInCity('Saint Johns')" style="color: purple">Saint Johns</button>
        <button onclick="displayTimeInCity('San Jose')" style="color: purple">San Jose</button>
        <button onclick="displayTimeInCity('San Salvador')" style="color: purple">San Salvador</button>
        <button onclick="displayTimeInCity('Santo Domingo')" style="color: purple">Santo Domingo</button>
        <button onclick="displayTimeInCity('Tegucigalpa')" style="color: purple">Tegucigalpa</button>
        <button onclick="displayTimeInCity('Washington')" style="color: purple">Washington</button>
        <div class="row">
            <div class="column">
                <div class="leftside">
                    <p style="color: orange">The current time in Basseterre is: <span id="basseterre-time"></span></p>
                    <p style="color: orange">The current time in Belmopan is: <span id="belmopan-time"></span></p>
                    <p style="color: orange">The current time in Bridgetown is: <span id="bridgetown-time"></span></p>
                    <p style="color: orange">The current time in Castries is: <span id="castries-time"></span></p>
                    <p style="color: orange">The current time in Guatemala City is: <span id="guatemala city-time"></span></p>
                    <p style="color: orange">The current time in Havana is: <span id="havana-time"></span></p>
                    <p style="color: orange">The current time in Kingston is: <span id="kingston-time"></span></p>
                    <p style="color: orange">The current time in Kingstown is: <span id="kingstown-time"></span></p>
                    <p style="color: orange">The current time in Managua is: <span id="managua-time"></span></p>
                    <p style="color: orange">The current time in Mexico City is: <span id="mexico city-time"></span></p>
                    <p style="color: orange">The current time in Nassau is: <span id="nassau-time"></span></p>
                    <p style="color: orange">The current time in Ottawa is: <span id="ottawa-time"></span></p>
                </div>
            </div>
            <div class="column">
                <div class="rightside">
                    <p style="color: orange">The current time in Panama City is: <span id="panama city-time"></span></p>
                    <p style="color: orange">The current time in Port-au-Prince is: <span id="port-au-prince-time"></span></p>
                    <p style="color: orange">The current time in Port of Spain is: <span id="port of spain-time"></span></p>
                    <p style="color: orange">The current time in Roseau is: <span id="roseau-time"></span></p>
                    <p style="color: orange">The current time in Saint Georges is: <span id="saint georges-time"></span></p>
                    <p style="color: orange">The current time in Saint Johns is: <span id="saint johns-time"></span></p>
                    <p style="color: orange">The current time in San Jose is: <span id="san jose-time"></span></p>
                    <p style="color: orange">The current time in San Salvador is: <span id="san salvador-time"></span></p>
                    <p style="color: orange">The current time in Santo Domingo is: <span id="santo domingo-time"></span></p>
                    <p style="color: orange">The current time in Tegucigalpa is: <span id="tegucigalpa-time"></span></p>
                    <p style="color: orange">The current time in Washington is: <span id="washington-time"></span></p>
                </div>
            </div>
        </div>
    </body>
</html>
}

